body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  font-size: 12px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'NeutraDisp';
  src: local('NeutraDisp'), url(./fonts/NeutraDisp-Bold.otf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
