body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  font-size: 1rem;
  line-height: 1.4;
  /* color: #4444; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

@font-face {
  font-family: 'NeutraDisp';
  src: local('NeutraDisp'), url(./fonts/NeutraDisp-Bold.otf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
